<div class="container mt-5">
  <h1 class="text-center">สมาชิกในกลุ่มที่ 3</h1>
  <div class="card mb-3 center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/team/Sun.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">นาย อัฑฒกร จันสนิท</h5>
          <p class="card-text">ชื่อเล่น : อาซัน</p>
          <p class="card-text"><small class="text-muted">เลขที่ 8 ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/team/Eric.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">นาย สุวิจักร์ วุฒิไรวณิชย์</h5>
          <p class="card-text">ชื่อเล่น : เอริค</p>
          <p class="card-text"><small class="text-muted">เลขที่ 9 ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/team/Feen.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">นาย นโชติ สมศรี</h5>
          <p class="card-text">ชื่อเล่น : ฟีน</p>
          <p class="card-text"><small class="text-muted">เลขที่ 12 ระดับชั้น ปวส.1/4</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
