<header>
  <h1>Little bird flies away. IoT repels birds.</h1>
</header>
<div class="container mt-5">
  <div class="text-center">
    <h2>อุปกรณ์ IoT</h2>
    <label>นกน้อยบินหนี IoT ไล่นก</label>
  </div>
  <div class="text-center">
  <div class="row mt-5">
    <div class="col-md">
      <img src="assets/images/product/ESP32.jpg" width="250px" height="250px" alt="">
    </div>
    <div class="col-9">
      ESP32 เป็นไมโครคอนโทรลเลอร์ (microcontroller) ที่มีความสามารถในการเชื่อมต่อ Wi-Fi และ Bluetooth ได้ในตัว
      ซึ่งออกแบบโดยบริษัท Espressif Systems ของประเทศจีน โดย ESP32 ถูกใช้ในงานพัฒนาหลากหลายด้าน เช่น
      อินเทอร์เน็ตของสรรพสิ่ง (IoT), ระบบอัตโนมัติในบ้าน, เซ็นเซอร์, และโปรเจคที่ต้องการการสื่อสารไร้สาย

      ตัว ESP32 ประกอบด้วยแกนประมวลผลหลักที่ใช้สถาปัตยกรรม Xtensa LX6 ซึ่งมีให้เลือกทั้งรุ่นที่มีแกนเดียว (single-core)
      หรือสองแกน (dual-core) นอกจากนี้ยังมี RAM, GPIO (General Purpose Input/Output) จำนวนมาก
      และสามารถรองรับโปรโตคอลการสื่อสารต่าง ๆ เช่น SPI, I2C, UART, และอื่น ๆ

      หนึ่งในจุดเด่นของ ESP32 คือการรองรับการเขียนโปรแกรมด้วยภาษา C/C++ ผ่านแพลตฟอร์ม Arduino IDE หรือการพัฒนาด้วย
      FreeRTOS ซึ่งเป็นระบบปฏิบัติการที่ช่วยในการจัดการงานแบบหลายงาน (multitasking)

      ESP32 ได้รับความนิยมอย่างมากในชุมชนนักพัฒนาอิเล็กทรอนิกส์ เนื่องจากมีราคาไม่แพง ความสามารถสูง
      และมีการสนับสนุนจากชุมชนที่กว้างขวาง
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md">
      <img src="assets/images/product/pir-motion-sensor.jpg" width="250px" height="250px" alt="">
    </div>
    <div class="col-9">
      PIR Motion Sensor หรือ Passive Infrared Sensor เป็นเซ็นเซอร์ที่ใช้ในการตรวจจับการเคลื่อนไหว
      โดยอาศัยการตรวจจับความเปลี่ยนแปลงของรังสีอินฟราเรดที่ปล่อยออกมาจากวัตถุที่มีอุณหภูมิ เช่น ร่างกายมนุษย์หรือสัตว์

      เซ็นเซอร์ PIR ทำงานโดยมีตัวรับรังสีอินฟราเรดสองตัว
      ซึ่งจะตรวจจับความเข้มของรังสีอินฟราเรดในบริเวณที่เซ็นเซอร์ครอบคลุม
      เมื่อมีการเคลื่อนไหวในพื้นที่ที่เซ็นเซอร์ตรวจจับ ตัวรับอินฟราเรดสองตัวนี้จะรับรู้การเปลี่ยนแปลงของความเข้มของรังสี
      ซึ่งจะทำให้เกิดการส่งสัญญาณเพื่อแจ้งเตือนหรือกระตุ้นการทำงานของระบบอื่น ๆ ที่เชื่อมต่ออยู่
    </div>
  </div>
</div>
</div>
